{% if post_list %}
	<ul>
	{% for post in post_list %}
		<li><a href=" {% url 'blogcore:post_detail' post.id %} ">{{ post }} </a><t>
		<a href = " {% url 'blogcore:profile_detail' post.user_profile.user.id %} ">{{ post.user_profile }}  </t></a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No blogs!</p>
{% endif %}

<ul><a href = "{% url 'blogcore:register' %}">Register</a></ul>
<ul><a href = "{% url 'blogcore:login' %}">Login</a></ul>
<ul><a href = "{% url 'blogcore:logout' %}">Logout</a></ul>
<ul><a href = "{% url 'blogcore:about' %}">About</a></ul>
