{% extends "blogcore\main.html" %}

{% block content %}

<head>
	<title> OneBlog </title>
	<H1> OneBlog! </H1>
</head>

<body>
{% if post_list %}
	{% for post in post_list %}
		<li>
			<post><a href=" {% url 'blogcore:post_detail' post.id %} ">{{ post }} </a></post>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<user><a href = " {% url 'blogcore:profile_detail' post.user_profile.user.id %} ">{{ post.user_profile }}  </a></user>
		</li>
	{% endfor %}
{% else %}
		<p>No blogs!</p>
{% endif %}

</body>

{% endblock %}