{% extends "blogcore\main.html" %}

{% block content %}

<head>
	<title> Posts </title>
	<H1> Posts </H1>
</head>

<body>

{% if post_list %}
	<ul>
	{% for post in post_list %}
		<li>
			<post><a href=" {% url 'blogcore:post_detail' post.id %} ">{{ post.title }} </a></post>
			<user><a href = " {% url 'blogcore:profile_detail' post.user_profile.user.id %} ">{{ post.user_profile.user.username }}</a></user>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No blogs!</p>
{% endif %}

<button><p><a href = " {% url 'blogcore:post_create' %} "> Create </a></p></button>

</body>

{% endblock %}


