{% extends "blogcore\main.html" %}

{% block content %}

<head>
	<title> {{ post }} </title>
	<H1> {{ post }} </H1>
</head>

<body> 
	{{ post.content }}
	<p><a href =" {% url 'blogcore:profile_detail' post.user_profile.user.id %} ">{{ post.user_profile }}</a></p>
	<div> 
	<p><a href = " {% url 'blogcore:post_edit' post.id %} "> Edit </a></p>
	</div>
	<ul>
		{% if post.comment_set.exists %}
		<p>Comments:</p>
			{% for comment in post.comment_set.all %}
				<li>
				{{ comment }} | <a href =" {% url 'blogcore:profile_detail' post.user_profile.user.id %} ">{{ comment.user_profile }} </a>
				</li>
			{% endfor %}
		{% endif %}
	</ul>

</body>

{% endblock %}