{% load staticfiles %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'blogcore/style.css' %}" />


<h1> {{ post }} </h1>

<body> 
	{{ post.content }}
	<p><a href =" {% url 'blogcore:profile_detail' post.user_profile.user.id %} ">{{ post.user_profile }}</a></p>
	<ul>
		{% for comment in post.comment_set.all %}
			<li>
			{{ comment }}
			<p> {{ comment.user_profile }} </p>
			</li>
		{% endfor %}
	</ul>
	
	<p><a href = " {% url 'blogcore:post_edit' post.id %} "> Edit </a></p>
</body>