{% extends "blogcore\main.html" %}

{% block content %}

<head>
	<title> {{ user_profile }} </title>
	<h2> {{ user_profile }} </h2>
</head>

<body>
{% if user_profile.post_set %}
	<p>Posts:</p>
	{% for post in user_profile.post_set.all %}
		<p><a href=" {% url 'blogcore:post_detail' post.id %} ">{{ post.title }}</a> </p> 
		<p> {{ post.content }}</p>
			<ul>
			{% if post.comment_set %}
				<p>Comments:</p>
				{% for comment in post.comment_set.all %}
					<ul>{{ comment.content }} | <a href=" {% url 'blogcore:profile_detail' comment.user_profile.id %} ">{{ comment.user_profile }}</a></ul>
				{% endfor %}
			{% endif %}
			</ul>
	{% endfor %}
{% endif %}
</body>

{% endblock %}